<script>
    /* =============== TOGGLE PASSWORD VISIBILITY =============== */
    // Function to toggle password visibility
    function togglePasswordVisibility(passwordFieldId, iconId) {
        // Get the password input field and eye icon by their IDs
        const passwordField = document.getElementById(passwordFieldId);
        const eyeIcon = document.getElementById(iconId);

        // Add a click event listener to the eye icon
        eyeIcon.addEventListener('click', function () {
            // Check the current type of the password field
            if (passwordField.type === 'password') {
                // Change it to text to show the password
                passwordField.type = 'text';
                // Update the eye icon (showing 'eye-off' icon)
                eyeIcon.classList.add('ri-eye-off-fill');
                eyeIcon.classList.remove('ri-eye-fill');
            } else {
                // Change it back to password to hide the password
                passwordField.type = 'password';
                // Update the eye icon (showing 'eye' icon)
                eyeIcon.classList.add('ri-eye-fill');
                eyeIcon.classList.remove('ri-eye-off-fill');
            }
        });
    }

    // Call the function for login and create account forms
    togglePasswordVisibility('password', 'loginPassword');
    togglePasswordVisibility('passwordCreate', 'loginPasswordCreate');

</script>
