<nav class="bottom-nav">
    <button class="nav-btn active " onclick="window.location.href='{% url 'finder' %}'">
        <i class='bx bx-home'></i>
        <span>Home</span>
    </button>
    <button class="nav-btn" onclick="window.location.href='{% url 'savedparking' %}'">
        <i class='bx bx-bookmark'></i>
        <span>Saved</span>
    </button>
    <button class="nav-btn" onclick="window.location.href='{% url 'findreservation' %}'">
        <i class='bx bx-calendar-check'></i>
        <span>Bookings</span>
    </button>
</nav>